@font-face {
    font-family: 'PokemonMonk';
    src: url("../Fuentes/PocketMonk-15ze.ttf");
}
/* Color de fondo utiliazdo en la aplicación: #3761a8*/

/* ----- VENTANA INICIO Y COMUNES. ----- */

body {
    margin: 0;
    padding: 0;
    font-family: 'PokemonMonk';
    background-color: #F7F7F7;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #fff;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #E3350D;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #fff;  /* creates padding around scroll thumb */
  }

header {
    background-color: #E3350D;
    color: #fff; 
    text-align: center;
    padding: 1rem;
}

#headerTitulo {
    font-size: 2rem;
    letter-spacing: 2px;
}

#headerSubTitulo {
    font-size: 1.6rem;
    letter-spacing: 2px;
}

nav {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    letter-spacing: 1.5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    float: left;
    flex: 1;
}

nav ul li {
    margin: 0 1rem;
    text-align: left;
}


nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #E3350D;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainTitulo {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0.01rem #3761a8; /* Se utiliza para el contorno de un texto.*/
    color: gold;
}

#mainParr {
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 2rem;
}

span.spanContorno {
    -webkit-text-stroke: 0.07rem #3761a8;
    color: gold;
    font-size: 1.7rem;
}

img.logoPokemon {
    width: 100%;
    max-width: 250px;
    margin-bottom: 1rem;
}

footer {
    background-color: #E3350D;
    color: #fff;
    text-align: center;
    padding: 1rem;
    letter-spacing: 1.5px;
}

#ParrFooterInicio { 
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* ----- VENTANA DESCARGAS. ----- */

p.pVersiones {
    margin: 0.2rem;
    padding: 0.2rem;
    width: 100rem;
    /*border: 0.2rem solid #E3350D;*/
    text-align: left;
    text-decoration: 0.2rem underline #E3350D;
    font-size: 2rem;
}

ul.ulDescargas {
    letter-spacing: 1px;
}

ul.ulDescargas li {
    padding: 0.2rem;
}

#refNoDecoDes {
    text-decoration: none;
    color: gold;
    -webkit-text-stroke: 0.05rem #3761a8;
    font-size: 2rem;
}

#refNoDecoDes:link {
    text-decoration: none;
    font-size: 2rem;
}

#refNoDecoDes:visited {
    color: gold;
    font-size: 2rem;
}


/* ----- VENTANA CONTACTO. ----- */

/* ----- VENTANA REGISTRO. ----- */
nav.navRegistro {
    background-color: #E3350D;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    letter-spacing: 1.5px;
}

nav.navRegistro ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    float: left;
    flex: 1;
}

nav.navRegistro ul li {
    margin: 0 1rem;
    text-align: left;
}


nav.navRegistro a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav.navRegistro a:hover {
    color: #333;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}

#h1Registro {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

form.formRegistro {
    display: flex;
    flex-direction: column;
}

label.registro {
    font-size: 1.3em;
    margin-bottom: 5px;
    margin-left: 0.5rem;
    padding: 0.1rem;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    background-color: #F7F7F7;
    /* font-family: 'PokemonMonk'; */
}

input[type="submit"] {
    background-color: #E3350D;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 10px;
    font-family: 'PokemonMonk';
}

input[type="submit"]:hover {
    background-color: #333;
}


/* ----- VENTANA REGISTRO CORRECTO. ----- */

p.regCorrecto {
    font-size: 1.6rem;
}

#refNoDeco {
    text-decoration: none;
    color: gold;
    -webkit-text-stroke: 0.05rem #3761a8;
}

#refNoDeco:link {
    text-decoration: none;
}

#refNoDeco:visited {
    color: gold;
}

/* ----- VENTANA REGISTRO INCORRECTO. ----- */